<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Login</title>
    <link rel="stylesheet" href="static/login&register.css">
</head>
<body>
    <h1>Create</h1>
    <form id="create_form">
        <label for="roomname">房间名:</label>
        <input type="text" name="roomname" id="roomname" required><br><br>

        <label for="password">房间密码（可选）:</label>
        <input type="password" name="password" id="password"><br><br>

        <button type="submit">创建</button>
    </form>
    <script src="../static/create.js"></script>
    <script src="../static/common.js"></script>
    <script>
        document.getElementById("create_form").addEventListener("submit", post_login_info)
    </script>
</body>
</html>