<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>斗地主游戏</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
</head>
<body>
    <!-- 第一名玩家 -->
    <div class="top-players">
        <div class="player-box" id="player1">
            <div class="player-info">
                <h3>虚位以待</h3>
                <p>积分: 0</p>
            </div>
        </div>

        <!-- 第二名玩家 -->
        <div class="player-box" id="player2">
            <div class="player-info">
                <h3>虚位以待</h3>
                <p>积分: 0</p>
            </div>
        </div>
    </div>

    <!-- 牌桌区域 -->
    <div class="table-area">
        <h2>房间名：{{ room_name }}</h2>
        <h2>房间号：{{ room_id }}</h2>
        <button class="start-btn" onclick="leave_room()">离开房间</button>
        <!-- 历史出牌区域 -->
        <div class="history-area" id="player1-status">
        </div>

        <div class="history-area" id="player2-status">
        </div>

        <div class="history-area" id="own-status">
            <button class="start-btn" onclick="switch_ready()"> 准 备 </button>
        </div>
    </div>
    <!-- 自己手牌区域 -->
    <div class="own-area" id="own-area">
        <div class="actions">
            <button onclick="">出牌</button>
            <button onclick="">不出</button>
        </div>
{#        <div class="own-cards" id="own-cards"></div>#}
    </div>

    <!-- 提示信息 -->
    <div class="status" id="status">请等待...</div>

    <script src="../static/js/common.js"></script>
    <script src="../static/js/game.js"></script>
</body>
</html>