<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, orientation=landscape">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">


    <title>Game menu</title>
    <link rel="stylesheet" href="static/menu.css">


</head>
<body>
    <div class="menu_container">
    {% if session.get('logged_in') %}
        <div class="button_container" id="logged_menu">
            <p class="choose_opponent_text">Welcome, {{ session.username }}</p>
            <button id="join" class="button" onclick="turn_to('login.html')">加入房间</button>
            <button id="create" class="button" onclick="turn_to('createRoom.html')">创建房间</button>
            <button id="logout" class="button" onclick="location.href='/api/deal_logout'">退出登录</button>
        </div>
    {% else %}
        <div class="button_container" id="unlogged_menu">
            <p class="choose_opponent_text">Welcome to the Game</p>
            <button id="login" class="button" onclick="turn_to('login.html')">Login</button>
            <button id="register" class="button" onclick="turn_to('register.html')">Register</button>
        </div>
    {% endif %}

    </div>

    <div id="rotateMessage" class="portrait-mode">
        <video autoplay loop muted>
            <source src="static/image/rotate.mp4" type="video/mp4">
        </video>
    </div>

    <script src="../static/menu.js"></script>
    <script src="../static/common.js"></script>


</body>
</html>